body {
    height: 100%;
    margin: 0;
}

.msgReqDiv {
    border-style: solid;
    overflow-y:auto;
    height: 35em;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    padding: 10px;
}
.msgResDiv {
    position:relative;
    bottom: 0;
}